@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html{
  height: 100%;
}

body{
  background-color: #005B41;
  position: relative;
  height: 100%;
  display: flex;
}

#gameMenu{
  width: 100%;
  height: 100%;
  background-color: #005B41;
  font-family: "Poppins", sans-serif;
  color: #ffff;
  position: absolute;
  z-index: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameMenu > h1{
  font-size: 7em;
  position: absolute;
  top: 1em;

}

#gameMenu >div{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 400px;

}

#gameMenu >div >button{
  font-size: 30px;
  width:200px;
  height:70px;
  border: 4px solid;
  border-radius: 15px;
  background-color: #D6C7AE;
  border-color: #B3A492;
  color: #ffff;
  cursor: pointer;
  margin-bottom: 30px;
}

#gameScreen{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#gameContainer{
  text-align: center;
  margin: 0px 0 0 0px;
  position: absolute;
}

#gameBoard{
  border: 5px solid #627254;
  background-color: #F5EFE6;
}

#scoreBoard{
  width: 250px;
  height: 260px;
  margin: 0px 0px 0 0px;
  flex-direction: column;
  border: 5px solid;
  background-color: #F0EBCE;
  position: absolute;
  top: 10px;
  left: 10px;
}

#scoreRecord{
  width: 100%;
}


#scoreRecord >.score{
  font-size: 25px;
  width: 250px;
  height: 50px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

#currentScore{
  font-size: 30px;
  width: 250px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid;
  cursor: default;
}

#resetButton{
  font-size: 22px;
  font-weight: bold;
  width:50px;
  height:50px;
  background-color: #F0EBCE;
  border: 4px solid;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  bottom: 6px;
  right: 6px;
}
